table{
	width: 100%;
	table-layout: fixed;
}
th{
	height: 100%;
	text-align: center;
	
	}
td{
	text-align: center;
}
h1 {
	font-family: "Pacifico", cursive;
	font-size: 70px;
	color: white;
	text-align: center;
	margin: 225px 0 225px 0;
}

.drinks-days {
	margin: 25px auto;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: large;
	color: white;
}


img {
	border: 7px solid black;
}
<<<<<<< Updated upstream
.homebody {
	background-color: rgba(1,1,1,1);
	padding: 50px 30px 50px 80px;
}
#Location1, #Location2, #Location3{
=======

#map{
>>>>>>> Stashed changes
        height: 200px;
        width: 100%;
       }

body {
	background-image: url("../images/home/3.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: local;
	background-size: cover;
}
